table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
}
form {
    border: 1px solid black;
    background-color: whitesmoke;
    border-collapse: collapse;
}